
<div class="split-screen">
  <div class="left">
    <form class="login-form">
      <h1>
        {{ 'login.title' | translate }}
      </h1>
      <mat-card class="login-card">
        <mat-card-content>
          <form (ngSubmit)="login()" #loginForm="ngForm">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{ 'login.username' | translate }}</mat-label>
              <input matInput required [(ngModel)]="username" name="username">
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{ 'login.password' | translate }}</mat-label>
              <input matInput type="password" required [(ngModel)]="password" name="password">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid">
                {{ 'login.loginButton' | translate }}
            </button>
          </form>
              <p *ngIf="loginError" class="error-message">{{ 'login.invalidCredentials' | translate }}</p>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
  <div class="right">
  </div>
</div>


  