<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Price</mat-label>
      <input matInput type="number" placeholder="Price" formControlName="price">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
      <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Image Path</mat-label>
      <input matInput placeholder="Image" formControlName="image">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option value="{{category}}" *ngFor="let category of (categories$ | async)">{{category}}</mat-option>
        </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="full-width" mat-flat-button color="primary" [mat-dialog-close]="productForm.value" [disabled]="productForm.invalid" cdkFocusInitial>
        Save
      </button>
</mat-dialog-actions>
